/* 테스트 css */
.test {
  position: fixed;
}

/* 검색 화면 */
.SeachScreen {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.SeachScreen.On {
  visibility: visible;
  opacity: 1;
}

.SeachScreen input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(2) translate(-50%, -50%);
}
.SeachScreen button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(2) translate(calc(-50% + 7rem), -50%);
}

body > div {
  overflow: hidden;
}
.wrap {
  max-width: 1280px;
  width: 90%;
  margin: auto;
  font-size: 24px;
}

.wrap > * {
  position: relative;
}

.common_button {
  text-transform: uppercase;
  background-color: brown;
  color: white;
  padding: 1.5rem 3rem 1.5rem 3rem;
  border-radius: 0 2rem 0 2rem;
}

/* <a href="#" class="common_button">
              Explore product
              <img src="" alt="" />
            </a> */

.common_button img {
  content: url(/img/common/ArrowDownRight.svg);
  position: relative;
  top: 8px;
}

.wrap section:not(:last-of-type) .inner::after {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(/img/common/Separator.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
